<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/piclovewall.css}" />
<title>home</title>
</head>
<body>
<div class="heartPic">
	<ul>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_01.jpg}" />
                <p class="pTxt">可爱的女娃娃</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_02.jpg}" />
                <p class="pTxt">呆萌的小熊</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_03.jpg}" />
                <p class="pTxt">卡哇伊的小熊</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_04.jpg}" />
                <p class="pTxt">女巫骑着扫帚</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_05.jpg}" />
                <p class="pTxt">女娃娃</p>
            </div>
        </li>
		<li>
        	<div class="in">
        		<img width="100" height="100" th:src="@{/img/index_06.jpg}" />
                <p class="pTxt">星星可爱</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_07.jpg}" />
                <p class="pTxt">呆萌女</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_08.jpg}" />
                <p class="pTxt">狗狗</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_09.jpg}" />
                <p class="pTxt">绿树</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_10.jpg}" />
                <p class="pTxt">粉爱粉爱的</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_11.jpg}" />
                <p class="pTxt">蜡笔小新</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_12.jpg}" />
                <p class="pTxt">震不碎的心</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_13.jpg}" />
                <p class="pTxt">很有意境</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_14.jpg}" />
                <p class="pTxt">樱木花道最爱啊</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_15.jpg}" />
                <p class="pTxt">俩骷髅</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_16.jpg}" />
                <p class="pTxt">萌妹子</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_17.jpg}" />
                <p class="pTxt">可爱的小狗</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_18.jpg}" />
                <p class="pTxt">夫妇俩白头偕老</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_19.jpg}" />
                <p class="pTxt">刷子</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_20.jpg}" />
                <p class="pTxt">偶的头像</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_21.jpg}" />
                <p class="pTxt">树叶子</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_22.jpg}" />
                <p class="pTxt">星星</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_23.jpg}" />
                <p class="pTxt">浅色哦</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_24.jpg}" />
                <p class="pTxt">太阳</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_25.jpg}" />
                <p class="pTxt">大笑脸</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_26.jpg}" />
                <p class="pTxt">企鹅</p>
            </div>
        </li>
		<li>
        	<div class="in">
            	<img width="100" height="100" th:src="@{/img/index_27.jpg}" />
                <p class="pTxt">小兔子</p>
            </div>
        </li>
		<li>
			<div class="in">
				<img width="100" height="100" th:src="@{/img/index_27.jpg}" />
				<p class="pTxt">小兔子</p>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript" th:src="@{/js/jquery-1.4.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/piclovewall.js}"></script>
</body>
</html>